* {
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  margin: 0px;
}
body {
  background-image: url(../img/beautiful-geometric-shapes-nature.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: #000000 2px solid;
  gap: 20px;
}

aside tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

h1 {
  font-size: 5rem;
  color: #e0bdff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p {
  color: #e0bdff;
  text-align: center;
  margin-bottom: 0;
  text-shadow:
    -0.7px -0.7px 0 #000,
    0.7px -0.7px 0 #000,
    -0.7px 0.7px 0 #000,
    0.7px 0.7px 0 #000;
  font-size: 2rem;
}

.titre {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}

.buttonPower {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 500px;
}

.buttonPower button {
  width: 250px;
  height: 100px;
  font-size: 2.5rem;
  background-color: #e0bdff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #000;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.buttonPower button:hover {
  background-color: #d299ff;
  transform: scale(1.05);
}

#Touches {
  display: flex;
}

#game-container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}
#grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 1px;
  background-color: #000;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
  transition: background-color 0.1s linear;
}

.restart {
  width: 150px;
  height: 40px;
  font-size: 1rem;
  background-color: #e0bdff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #000;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.restart:hover {
  background-color: #d299ff;
  transform: scale(1.05);
}
#gameOver {
  position: absolute;
  width: 30%;
  height: 30%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  opacity: 0;
  transform: scale(0.5);
  transition:
    opacity 0.5s,
    transform 0.5s;
  border-radius: 10px;
}

#gameOver.show {
  opacity: 1;
  transform: scale(1);
}

#gameOver.hidden {
  display: none;
}
